#title1 {
  text-align: center;
  border-bottom: 1px solid black;
  width: 100%;
}

#ong{
  width: 500px;
  margin-top: 100px;
}

#box {
  text-align: center;
  width: 500px;
  margin-left: 100px;
  display: flex;
}

#flex1 {
  text-align: center;
  margin-left: 50%;
}

#flex2 {
  display: inline-flex;
}

#wanthelp {
  height: 50px;
  width: 100px;
  margin-left: 100px;
  margin-top: 100px;
}

#wantohelp {
  height: 50px;
  width: 100px;
  margin-left: 100px;
  margin-top: 100px;
}

#persona {
  text-align: center;
}

.personas {
  display: flex;
  flex-direction: row;
}

.personasc {
  border: solid 1px black;
  width: 10%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 100%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}
